__pycache__/
*.pyc
*.pt
data/raw/*
outputs/videos/*
outputs/logs/*
outputs/crops/*
outputs/tensorboard_logs/*
outputs/benchmarks/*
!data/raw/.gitkeep
!outputs/videos/.gitkeep
!outputs/logs/.gitkeep
!outputs/crops/.gitkeep
!outputs/benchmarks/.gitkeep
